@using WAF.Common
@model CheckoutModel
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithoutPicturesLayout.cshtml";

    var order = ShopHelper.GetCurrentOrder();
    var numItemsInCart = order != null ? order.GetNumberOfItemsInCart() : 0;

    var checkoutPage = WAFShopHelper.GetCurrentShop().CheckoutPage.Get();

}

@section header{
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
}
@section sideRow{
}

<h1>@checkoutPage.Name</h1>



<div id="payment-progress">
    <ul>
        <li class="active">Your details</li>
        <li>Payment and shipping</li>
        <li>Order completed</li>
    </ul>
</div>
<div style="clear: both">
</div>
<div style="width: 630px; float: left;">


    @if (numItemsInCart > 0)
    {



    <div id="left-main-column">
        @using (Html.BeginForm("Checkout", "Shop", FormMethod.Post))
        {

        <div class="field-container">
            <h4 class="shopping-cart-header">Your email</h4>
            @Html.TextBoxFor(m => m.Email, new { required = "required" })
            @Html.ValidationMessageFor(m => m.Email)
            <br />
            <br />
        </div>




            <div class="billing-panel">
                <h4 class="shopping-cart-header">Billing address</h4>

                @Html.LabelFor(m => m.BillingForename)
                @Html.TextBoxFor(m => m.BillingForename, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingForename)

                <div style="clear: both;height:18px;">
                </div>

                @Html.LabelFor(m => m.BillingSurname)
                @Html.TextBoxFor(m => m.BillingSurname, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingSurname)
                <div style="clear: both;height:18px;">
                </div>

                @Html.LabelFor(m => m.BillingCompany)
                @Html.TextBoxFor(m => m.BillingCompany, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingCompany)
                <div style="clear: both;height:18px;">
                </div>

                @Html.LabelFor(m => m.BillingMobile)
                @Html.TextBoxFor(m => m.BillingMobile, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingMobile)
                <div style="clear: both; height: 18px;">
                </div>

                @Html.LabelFor(m => m.BillingAddress)
                @Html.TextBoxFor(m => m.BillingAddress, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingAddress)
                <div style="clear:both;height:18px;"></div>


                @Html.LabelFor(m => m.BillingAddress2)
                @Html.TextBoxFor(m => m.BillingAddress2)
                <div style="clear: both;height:18px;">
                </div>


                @Html.LabelFor(m => m.BillingZipCode)
                @Html.TextBoxFor(m => m.BillingZipCode, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingZipCode)
                <div style="clear: both;height:18px;">
                </div>

                @Html.LabelFor(m => m.BillingCity)
                @Html.TextBoxFor(m => m.BillingCity, new { required = "required" })
                @Html.ValidationMessageFor(m => m.BillingCity)
                <div style="clear: both;height:18px;">
                </div>

            </div>











            <div style="clear: both;">
            </div>
            <div class="field-container">
                <h4 class="shopping-cart-header">Shipping address</h4>
                <div>
                    <span class="shipping-radio-list">

                        @*<input type="radio" class="shipping-billing-selector billing" id="radio-billing" name="showshipping" value="Billing" />
                            <label for="radio-billing">Ship to billing address</label>
                            <br />
                            <input type="radio" class="shipping-billing-selector shipping" id="radio-shipping" name="showshipping" value="Shipping" />
                            <label for="radio-shipping">Ship to different address</label>*@
                        @Html.CheckBoxFor(m => m.ShippingNotSameAsBilling, new { @class = "chk-other-shipping" })
                        @Html.LabelFor(m => m.ShippingNotSameAsBilling)
                        <br />
                        <br />
                    </span>
                </div>




                <div class="billing-panel shipping-panel">
                    @Html.LabelFor(m => m.ShippingForename)
                    @Html.TextBoxFor(m => m.ShippingForename, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingForename)

                    <div style="clear: both;height:18px;">
                    </div>

                    @Html.LabelFor(m => m.ShippingSurname)
                    @Html.TextBoxFor(m => m.ShippingSurname, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingSurname)
                    <div style="clear: both;height:18px;">
                    </div>

                    @Html.LabelFor(m => m.ShippingCompany)
                    @Html.TextBoxFor(m => m.ShippingCompany, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingCompany)
                    <div style="clear: both;height:18px;">
                    </div>

                    @Html.LabelFor(m => m.ShippingMobile)
                    @Html.TextBoxFor(m => m.ShippingMobile, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingMobile)
                    <div style="clear: both; height: 18px;">
                    </div>

                    @Html.LabelFor(m => m.ShippingAddress)
                    @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingAddress)
                    <div style="clear:both;height:18px;"></div>


                    @Html.LabelFor(m => m.ShippingAddress2)
                    @Html.TextBoxFor(m => m.ShippingAddress2)
                    <div style="clear: both;height:18px;">
                    </div>


                    @Html.LabelFor(m => m.ShippingZipCode)
                    @Html.TextBoxFor(m => m.ShippingZipCode, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingZipCode)
                    <div style="clear: both;height:18px;">
                    </div>

                    @Html.LabelFor(m => m.ShippingCity)
                    @Html.TextBoxFor(m => m.ShippingCity, new { @class = "required-toggle" })
                    @Html.ValidationMessageFor(m => m.ShippingCity)
                    <div style="clear: both;height:18px;">
                    </div>
                </div>



            </div>
            <div style="clear: both;">
            </div>

            <div style="float:left;text-align:right;margin-right:0px;width:460px;margin-bottom:100px;">
                <p style="color:red;font-weight:bold;">This is a demo site, and orders are not real! </p>
                <asp:Button runat="server" ID="btnNext" OnClick="btnNext_Click" Width="150px" Text="Continue ->" />
                <button type="submit">Continue</button>
            </div>
        }
    </div>

    }
    else
    {
        <h3>Your cart is empty</h3>
    }
</div>

@section scripts{
    <script>
        function toggleShippingVisible(visible) {
            if (visible) {
                $(".shipping-panel").slideDown();
            } else {
                $(".shipping-panel").slideUp();

            }
        }

        $(document).ready(function () {
            if ($(".chk-other-shipping")[0].checked) {
                $(".shipping-panel").toggle(true);
            }

            $(".chk-other-shipping").click(function (e) {
                var chk = $(e.target).closest(".chk-other-shipping");
                toggleShippingVisible(chk[0].checked);
            });
        });
    </script>
}