@using WAF.Common
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithoutPicturesLayout.cshtml";

    var order = ShopHelper.GetCurrentOrder();
    var numItemsInCart = order != null ? order.GetNumberOfItemsInCart() : 0;

    var shop = WAFShopHelper.GetCurrentShop();

    var paymentAndShippingPage = shop.PaymentAndShippingMethodPage.Get();

    var paymentMethods = shop.PaymentMethods.Get();
    var selectedPayment = order.PaymentMethod.IsSet() ? order.PaymentMethod.GetId() : paymentMethods[0].NodeId;

    var shippingMethods = shop.ShippingMethods.Get();
    var selectedShipping = order.ShippingMethod.IsSet() ? order.ShippingMethod.GetId() : shippingMethods[0].NodeId;

    var currencySign = WAFShopHelper.GetCurrentCurrency().Sign;

}

@section header{
}
@section sideRow{
}

<h1>@paymentAndShippingPage.Name</h1>


<div id="payment-progress">
    <ul>
        <li>Your details</li>
        <li class="active">Payment and shipping</li>
        <li>Order completed</li>
    </ul>
</div>
<div style="clear: both">
</div>
<p style="color: red; font-weight: bold;">
    This is a demo site, and orders are not real!
</p>

@if (numItemsInCart > 0)
{
<div style="width: 350px; float: left;">
    <h4 class="shopping-cart-header">
        Shippingmethod
    </h4>

    <table>
        <tbody>
            @foreach (var method in shippingMethods)
            {
                <tr>
                    <td>
                        <input type="radio" id="ship-@method.NodeId" name="ShippingMethodId" value="@method.NodeId" checked="@(method.NodeId == selectedShipping)" />
                        <label for="ship-@method.NodeId">@method.DisplayName</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <h4 class="shopping-cart-header">
        Payment information
    </h4>

    <span>
        @foreach (var method in paymentMethods)
        {
            <p>
                <input type="radio" id="pay-@method.NodeId" name="PaymentMethodId" value="@method.NodeId" checked="@(method.NodeId == selectedPayment)" />
                <label for="pay-@method.NodeId">@method.DisplayName</label>
            </p>
        }
    </span>

    <div style="clear: both; margin-top: 20px;">
    </div>
    @using (Html.BeginForm("InitiatePayment", "Shop", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="place-order-button">Place order</button>
    }
    </div>
    <div class="order-details-wrapper" style="float: left; width: 310px; margin-left: 20px;">
        @Html.Partial("Partials/Shop/_PaymentAndShippingOrderDetails", order)
    </div>

}
else
{
    <h3>Your cart is empty</h3>
}
<p style="color: red; font-weight: bold;">
    This is a demo site, and orders are not real!
</p>


@section scripts {
    <script>
        $(document).ready(function () {
            $('input[type=radio][name=ShippingMethodId]').change(function (e) {
                var url = "/Partials/Shop/UpdateShippingMethod"; // the script where you handle the form input.
                var data = { shippingMethodNodeId: e.target.value };
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (cartResult) {
                        $(".order-details-wrapper").html(cartResult);
                    }
                });
            });

            $('input[type=radio][name=PaymentMethodId]').change(function (e) {
                var url = "/Partials/Shop/UpdatePaymentMethod"; // the script where you handle the form input.
                var data = { paymentMethodNodeId: e.target.value };
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function () {
                        //console.log("ok");
                    }
                });
            });
        });
    </script>
}