@model ListPageViewModel<TouristAttraction>
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithoutPicturesLayout.cshtml";
}

@section header{
    <h1>@Model.Name</h1>
    <p>@Model.Ingress</p>
}

<div>
    @if (Model.Picture.IsImage())
    {
        <img src="@Model.Picture.GetUrl(270)" class="content-image" alt="Main picture" />

    }
    @Html.Raw(Model.Content)
</div>

<div id="item-list">
    @Html.Partial("Partials/_FilterRegionLocation", Model.BreadcrumbsModel)
    @Html.Partial("~/Views/Shared/Partials/ViewHelperPartials/_GetAttractionList.cshtml", Model.ListItems)
    @Html.Partial("~/Views/Shared/Partials/ViewHelperPartials/_GetPaging.cshtml", new GetPagingVM { pageIndex = Model.PageIndex, pageCount = Model.PageCount})
</div>





@section sideRow{
    @Html.Partial("Partials/_RelatedArticles")
    @Html.Partial("Partials/_TouristItemCategoryFilters", Model.SideMenuFilters)
}
