@using WAF.Engine.Property
@model NewsArticle
@inject WAFNativeContext wafContext

@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithoutPicturesLayout.cshtml";

    var newsPage = Helper.GetInstance(wafContext).ControlPanel.NewsPage.Get();
    int totalCount = 0;

    var listedNews = newsPage.Children.Query<NewsArticle>().Execute(0, 10, out totalCount);
}

@section header{

    <h1>@Model.Name</h1>
    <div id="newspagePublished">
        Published: @Model.PublishDate.ToLongDateString() by @Model.AuthorName
        <small>( Last modified @Model.LastCompile.ToLongDateString() )</small>
    </div>

    <p>@Model.Ingress</p>

}


<img src="@Model.IngressPicture.GetUrl(270)" class="ingressImage" />

<div>
    @Html.Raw(Model.Content)
</div>

@if (Model.RelatedGallery.IsSet())
{
    var gallery = Model.RelatedGallery.Get();
    if (!string.IsNullOrEmpty(gallery.Name))
    {
        ImageAdjustments adjust = new ImageAdjustments();
        adjust.CanvasX = 720;
        adjust.CanvasY = 576;
        adjust.ZoomMode = AutoZoomMode.Fit;
        adjust.BackgroundColor = WAF.Drawing.WColor.White;

        <h4>@gallery.Name</h4>
        <p>
            @foreach (var pic in gallery.Pictures.GetAll())
            {
                if (pic.File.IsImage())
                {
                    <a href="@pic.File.GetUrl(adjust)" rel="prettyPhoto[pic-series]"><img src="@pic.File.GetUrl(160, 110)" class="picture-series-picture" /></a>
                }
            }
        </p>
        <div style="clear:both"></div>
    }
}

@section sideRow{
    @Html.Partial("Partials/_RelatedArticles")

    @if (listedNews.Count > 0)
    {

        <div class="side-menu">
            <h3>Latest news</h3>
            <ul id="latestnews">

                @foreach (var item in listedNews)
                {
                    <li>
                        <a href="@wafContext.GetUrl(item)">@item.Name</a><small>@item.PublishDate.ToShortDateString()</small>
                    </li>
                }
            </ul>
        </div>
    }
}
