@model ListPageViewModel<NewsArticle>
@inject WAFNativeContext wafContext

@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithoutPicturesLayout.cshtml";
}
@section header{
    <h1>@Model.Name</h1>
    <p>@Model.Ingress</p>
}
<ul class="content-list">
@foreach (var item in Model.ListItems)
{
    <li>
    <h3>
        <a href="@wafContext.GetUrl(item)">@item.Name</a>        
    </h3>
    <div class="text-image">
            <img src="@item.IngressPicture.GetUrl(270)" />
    <p>       
        @item.Ingress
    </p>
            </div>
        </li>
}
</ul>

@section sideRow{
    @Html.Partial("Partials/_RelatedArticles")
}
