@model WAF.Engine.Content.Native.Blog
@inject WAFNativeContext wafContext

    <div id="main-column">
        <div id="main-text-full">

            <div id="pageHeading">
                <h1>@Model.Name</h1>
                @if (!string.IsNullOrEmpty(Model.MiniDescription))
                {
                    <p>@Model.MiniDescription</p>
                }
            </div>
            <div class="clear"></div>

            @if (Model.BlogPosts != null && Model.BlogPosts.Count > 0)
            {
                <div id="main-text-full">
                    <div id="item-list">
                        @foreach (var post in Model.BlogPosts)
                        {
                        <div class="item-list-container">
                            @if (post.IngressPicture.IsImage())
                            {
                                <div><img src="@post.IngressPicture.GetUrl(270)" class="content-image" alt="Main picture" /></div>
                            }
                            <div class="item-list-container-text">
                                <h3><a href="@wafContext.GetUrl(post)">@post.Name</a></h3>
                                @if (!string.IsNullOrEmpty(post.Ingress))
                                {
                                    <p>@post.Ingress</p>
                                }
                            </div>
                        </div>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
