@{
    Layout = "_BaseLayout.cshtml";
}


<div id="main-column">

    <div id="pageHeading">        
        @RenderSection("header")
    </div>    
    @RenderBody()

</div>

<div id="right-side-column">
    @RenderSection("sideRow")    
</div>


@section head{
    @RenderSection("head", false)
}
@section scripts{
    @RenderSection("scripts", false)
}