@using WAF.Common
@model ProductBase
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideLayout.cshtml";

}

@section header{
    <h1>@Model.Name</h1>
    @Model.ShortDescription
}
<div class="normalPageMargin">

    <div>
        @Html.Partial("Partials/_Breadcrumbs")
    </div>

    <div class="maintextInnerRightColumn">
        @if (Model.MainProductImage.IsImage())
        {
            <img src="@Model.MainProductImage.GetUrl(260)" />
        }

    </div>
    <div>
        @Html.Raw(Model.Description)
    </div>
    <br />
    <div class="price">
        @{
            Currency cur = WAFShopHelper.GetCurrentCurrency();
        }
        Our price: @cur.Sign @Model.GetPriceIncVat().ToString("0.00")
    </div>
    @if (Model.NumberInStock > 0)
    {
        <button class="btn-add-to-cart" data-nodeid="@Model.NodeId.ToString()">Add to cart</button>
    }
    else
    {
        <div style="line-height: 32px;">
            Out of stock.
        </div>

    }
</div>

@section sideRow{
    <div class="cart-wrapper">
        @Html.Partial("Partials/Shop/_ShoppingCartStatus")

    </div>
}
