@model LoginModel

@inject WAFNativeContext wafContext

@{
    Layout = "~/Views/Shared/Layouts/_OneColumnLayout.cshtml";
}

<div>
    <div style="margin: 200px 0 0 200px;">
        @using (Html.BeginForm("Index", "Login", new { ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" value="@wafContext.Request.NodeId" name="nid"/>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Username, "User name:")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Username)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Password, "Password:")
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password)
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="color: red; text-align: start;">
                        @Html.ValidationSummary()
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: end;">
                        <button type="submit">Log in</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>