@model Accommodation
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumnLeftWideWithPicturesLayout.cshtml";
}


@section header{
    @Html.Partial("Partials/TouristItem/_StarRating", Model)

    <h1>@Model.Name</h1>

   <p>@Model.Ingress</p>
}

@section pics {
    @Html.Partial("Partials/_ItemPictures", Model)

}

<div>
    @Html.Raw(Model.Description)

    @Html.Partial("Partials/TouristItem/_ContactInfoBox", Model)
</div>

    @Html.Partial("Partials/TouristItem/_Reviews", Model)

@section sideRow{
    @Html.Partial("Partials/TouristItem/_Alternatives", Model)
    @Html.Partial("Partials/_RelatedArticles")
    @Html.Partial("Partials/TouristItem/_RelatedItems", Model)
}